@media screen and (min-width: 1601px){
    .header{
        background-image: url(../img/header_back2.png);
        background-size: cover;
    }
    .possibility .back{
        margin-left: -50px;
    }
}
@media screen and (max-width: 1590px){
    .interview .right_part h3{
        font-size: 39px;
        max-width: 70%;
    }
    .interview .right_part p{
        max-width: 70%;
    }
}
@media screen and (max-width: 1500px){
    .traineeship .left_part p{
        max-width: 75%;
    }
    .interview .left_part .slider img{
        max-width: 90%;
    }
    .first_step .content .left_part {
        padding: 23.5em 0 0 6em;
    }
    .first_step .content .right_part:after {
        top: 300px;
    }
}
@media screen and (max-width: 1400px){
    .header .numbers .video_block{
        min-width: 310px;
    }
    .industry .content{
        padding: 0 6em;
    }
    .company .left_part a {
        height: 215px;
        width: 215px;
    }
    .company .left_part a{
        margin: 25px 20px 90px 20px;
    }
    .company .left_part li:hover a{
        margin: -25px 20px 140px 20px;  /**/
    }
    .interview .right_part .more{
        top: 105%;
    }
    .left_h3 {
        padding-left: calc(6em - 15px);
    }
    .traineeship .left_part {
        padding: 0 0 0 6em;
    }
    .interview {
        height: 800px;
    }
    .interview .right_part h3 {
        font-size: 38px;
        max-width: 85%;
    }
    .company .left_part ul {
        margin-top: 80px;
    }
}
@media screen and (max-width: 1350px){
    .interview .right_part p {
        max-width: 80%;
        font-size: 22px;
    }
    .interview .right_part .more {
        top: 110%;
    }
    .interview .right_part h3 {
        font-size: 35px;
        max-width: 90%;
    }
}
@media screen and (max-width: 1300px) and (min-width: 1049px){
    .traineeship .right_part a.third {
        left: 225px;
    }
}
@media screen and (max-width: 1300px){
    .industry .info .right_part p{
        max-width: 95%;
    }
    .interview {
        height: 750px;
    }
    .company .left_part a {
        height: 200px;
        width: 200px;
        margin: 40px 20px 90px 20px;
    }
    .company .left_part li:hover a{
        margin: -10px 20px 140px 20px;
    }
    .company .left_part ul {
        margin-top: 60px;
    }
}
@media screen and (max-width: 1250px){
    .interview .right_part h3 {
        font-size: 33px;
    }
}
@media screen and (max-width: 1300px) and (min-width: 1024px){
    .traineeship .right_part a.first {
        left: -70px;
    }
}
@media screen and (max-width: 1210px){
    .red_field h2 {
        margin-bottom: 0.5em;
    }
    .red_field input[type=submit] {
        /*margin-top: 50px;*/
        width: 200px;
        height: 56px;
        line-height: 28px;
        border-radius: 28px;
        font-size: 20px;
    }
    .interview .right_part .more,
    .red_field input[type=submit],
    .traineeship .left_part .more,
    .company .right_part .more
     {
        width: 270px;
        height: 66px;
        border-radius: 33px;
        font-size: 22px;
        line-height: 66px;
    }
    .industry .info .right_part .more{
        height: 66px;
        border-radius: 33px;
        font-size: 22px;
        line-height: 66px;
    }
    .interview .right_part .more {
        top: 110%;
    }
    .interview .right_part h3 {
        font-size: 30px;
    }
    .interview {
        height: 700px;
    }
    .first_step .content .left_part h3,
    .center_h3 h3, .left_h3 h3 {
        font-size: 50px;
    }
    .company .left_part{
        padding-left: 0;
        padding-right: 0;
    }
    .company .left_part a {
        height: 192px;
        width: 192px;
        margin: 48px 15px 90px 15px;
    }
    .company .left_part a img{
        width: 80%;
    }
    .company .left_part li:hover a{
        margin: -2px 15px 140px 15px;
    }
    .company .right_part p,
    .traineeship .left_part p {
        font-size: 20px;
    }
    h1{
        font-size: 70px;
    }
    .possibility .info {
        padding: 0 6em;
    }
    .traineeship .right_part a:hover {
        width: 288px;
        height: 395px;
    }
    .traineeship .right_part a:hover img {
        height: 256px;
    }
    .traineeship .right_part a:hover .red {
        font-size: 15px;
        margin-bottom: 0;
    }
    .traineeship .right_part a:hover header {
        font-size: 33px;
    }
    .traineeship .right_part a:hover footer {
        font-size: 20px;
    }
    .first_step .content .left_part p,
    .info .right_part p,
    .industry .info .right_part p,
    .industry .info .left_part ul li,
    .company .right_part .more,
    .red_field input[type=submit],
    .industry .info .right_part .more,
    .traineeship .left_part .more {
        font-size: 22px;
    }
    .industry .info .left_part ul li:hover{
        font-size: 35px;
    }
    .red_block{
        width: 25%;
        float: left;
    }
}
@media screen and (max-width: 1200px){
    .red_field input[type=submit] {
        margin-top: 50px;
    }
}
@media screen and (max-width: 1150px){
    .info .right_part p{
        width: 100%;
    }
    .red_field {
        padding: 2em 6em 2.45em 6em;
    }
    .industry .info .right_part {
        padding: 50px 30px 23px 30px;
    }
    .industry .info .right_part h2{
        font-size: 70px;
    }
    .industry .info .right_part .more{
        top: 65px;
    }
    .join{
        right: 0;
        width: 330px;
        height: 74px;
        border-radius: 37px;
        line-height: 74px;
        font-size: 24px;
    }
    .header .inner {
        margin: 0 6em;
    }
    h1 {
        font-size: 64px;
    }
    .dots {
        top: 33%;
        left: 0%;
    }
    .interview .left_part .slider_pager{
        bottom: 3px;
    }
}
@media screen and (max-width: 1100px){
    .first_step .content .left_part p,
    .info .right_part p,
    .industry .info .right_part p,
    .industry .info .left_part ul li,
    .interview .right_part p {
        font-size: 20px;
    }
    .traineeship .left_part .more{
        width: 300px;
    }
    .industry .info .right_part .more {
        width: 210px;
    }
}
@media screen and (max-width: 1050px){
    .traineeship .right_part a.third {
        right: 35px;
    }
    .interview .right_part h3 {
        font-size: 28px;
    }
}
@media screen and (max-width: 1024px){
    .header .inner {
        margin: 0 25px;
    }
    .header h4{
        margin: 0 56px 177px 0;
    }
    h1 {
        font-size: 56px;
        max-width: 94%;
    }
    .dots {
        display: none;
    }
    .subtitle{
        max-width: 78%;
    }
    /*.red_field h2{
        margin-bottom: 0.5em;
    }*/
    .red_field {
        padding: 36px 36px 70px 25px;
    }
    .red_field input[type=submit]{
        margin-top: 50px;
        width: 200px;
        height: 56px;
        line-height: 28px;
        border-radius: 28px;
        font-size: 20px;
    }
    .block .back{
        font-size: 200px;
    }
    .first_step .content .left_part {
        padding: 20em 0 0 40px;
    }
    .first_step .content .left_part h3{
        font-size: 40px;
        margin-bottom: 22px;
        max-width: 298px;
    }
    .first_step .content .left_part p{
        line-height: 1.25;
        max-width: 320px;
    }
    .first_step .content .right_part:after {
        top: 231px;
    }
    .video {
        width: 80px;
        height: 80px;
    }
    .numbers .watch {
        margin: 20px 0 0 30px;
    }
    .first_step .content .right_part .video{
        top: 34%;
    }
    .video:after{
        left: calc(50% - 5px);
        top: calc(50% - 14px);
        border-width: 14px 17px;
    }
    .block::after{
        height: 120px;
        bottom: -40px;
    }
    .block{
        height: 680px;
    }
    .possibility{
        height: 600px;
    }
    .possibility .back{
        font-size: 147px;
    }
    .possibility .center_h3 h3{
        font-size: 40px;
        margin-top: 90px;
    }
    .possibility .info {
        padding: 0 40px;
        top: 190px;
    }
    .info .right_part h4{
        font-size: 26px;
        margin-top: 30px;
        line-height: 1.12;
    }
    .info .right_part p{
        line-height: 1.25;
    }
    .industry{
        height: 650px;
    }
    .industry .back,
    .region .back{
        font-size: 241px;
    }
    .industry .content{
        padding: 0 25px;
    }
    .industry .content h3{
        font-size: 40px;
        line-height: 1.75;
    }
    .industry .info .left_part ul li:hover{
        font-size: 30px;
    }
    .industry .info {
        top: 200px;
    }
    .industry .info .left_part {
        max-width: 41.5%;
        margin-right: 0%;
    }
    .industry .info .left_part ul li{
        height: 65px;
    }
    .industry .info .right_part p{
        line-height: 1.25;
    }
    .industry .info .right_part h2{
        font-size: 52px;
        margin-bottom: 0;
    }
    .industry .info .right_part .more{
        width: 183px;
        height: 56px;
        line-height: 56px;
        border-radius: 28px;
        font-size: 20px;
        right: 30px;
        top: 38px;
    }
    .region .center_h3 h3,
    .company .center_h3 h3{
        font-size: 40px;
    }
    .region{
        height: 770px;
    }
    .company .back{
        font-size: 210px;
    }
    .company .left_part ul li:first-child a{
        margin-left: 0;
    }
    .company .left_part ul li:last-child a{
        margin-right: 0;
    }
    .company .right_part .more {
        width: 230px;
        height: 56px;
        border-radius: 28px;
        font-size: 20px;
        line-height: 56px;
    }
    .traineeship .back{
        font-size: 169px;
        margin-left: 0;
    }
    .left_h3 {
        padding-left: 25px;
    }
    .traineeship{
        height: 710px;
    }
    .traineeship .left_h3 h3{
        font-size: 40px;
        max-width: 360px;
        margin-top: 35px;
    }
    .traineeship .left_part {
        padding: 0 0 0 40px;
    }
    .traineeship .left_part p {
        line-height: 1.25;
        max-width: 360px;
    }
    .traineeship .left_part .more {
        width: 220px;
        height: 56px;
        line-height: 56px;
        border-radius: 35px;
        font-size: 20px;
    }
    .traineeship .right_part a {
        width: 195px;
        height: 260px;
    }
    .traineeship .right_part a img{
        height: 169px;
    }
    .traineeship .right_part a:hover {
        width: 262px;
        height: 349px;
    }
    .traineeship .right_part a:hover img {
        height: 230px;
    }
    .traineeship .right_part a .red {
        font-size: 8px;
    }
    .traineeship .right_part a header {
        font-size: 21px;
    }
    .traineeship .right_part a footer {
        font-size: 13px;
    }
    .traineeship .right_part a:hover .red {
        font-size: 12px;
    }
    .traineeship .right_part a:hover header {
        font-size: 29px;
    }
    .traineeship .right_part a:hover footer {
        font-size: 17px;
    }
    .traineeship .right_part a.second {
        top: -180px;
        right: 10px;
    }
    .interview{
        height: 590px;
    }
    .interview .center_h3 h3{
        font-size: 40px;
    }
    .interview .left_part .slider img {
        max-width: 93%;
    }
    .interview .right_part h3 {
        font-size: 26px;
    }
    .interview .right_part p {
        max-width: 85%;
    }
    .interview .right_part .more {
        width: 223px;
        height: 56px;
        border-radius: 35px;
        font-size: 20px;
        line-height: 56px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 920px){
    .traineeship .right_part a.first {
        top: -68px;
        right: 332px;
    }
    .traineeship .right_part a.third {
        right: 107px;
    }
}
@media screen and (max-width: 992px){
    .numbers, .numbers div{
        padding: 0;
    }
    .numbers .number{
        display: inline-block;
        margin-bottom: -15px;
        font-size: 3.5em;
    }
    .numbers .text{
        margin-bottom: 15px;
    }
    .interview .left_part .slider_pager {
        bottom: -44px;
        right: 45%;
        width: 100%;
        -webkit-transform: translateX(42%);
            -ms-transform: translateX(42%);
                transform: translateX(42%);
        text-align: center;
    }
    .traineeship .left_part p,
    .traineeship .left_h3 h3 {
        max-width: 270px;
    }
    .company .left_part ul {
        border-bottom: 2px solid #ededed;
    }
    .company .left_part ul li{
        float: none;
        border-bottom: none;
    }
    .company .left_part a:after{
        bottom: -60px;
    }
    .company .left_part li:hover a:after {
        bottom: -110px;
    }
    .company {
        height: 870px;
    }
    .company .right_part {
         margin-top: 0;
        text-align: center;
    }
    .traineeship {
        height: 750px;
    }
}
@media screen and (max-width: 920px){
    .traineeship .right_part a.first {
        left: -80px;
        top: -54px;
    }
    .traineeship .right_part a.third {
        right: 107px;
    }
    .header .numbers .video_block {
         min-width: 0;
    }
    .industry .info .right_part .more {
        right: 0;
    }
}
@media screen and (max-width: 900px) and (min-width: 825px){
    .traineeship .right_part a.third {
        left: 136px;
    }
}
@media screen and (max-width: 850px){
    .video{
        margin-bottom: 2em;
        width: 70px;
        height: 70px;
    }
    .video:after {
        left: calc(50% - 4px);
        top: calc(50% - 12px);
        border-width: 12px 15px;
    }
    .numbers .watch {
        margin: 12px 0 0 14px;
    }
}
@media screen and (max-width: 825px){
    .traineeship .right_part a.third {
        right: 50px;
    }
    .industry .block_company,
    .industry .block_work{
        width: 50%;
        float: left;
    }
    .industry .info .right_part .block_company h2,
    .industry .info .right_part .block_company p,
    .industry .info .right_part .block_work h2,
    .industry .info .right_part .block_work p{
        text-align: center;
    }
    .industry .info .right_part {
        padding: 50px 30px 93px 30px;
    }
    .industry .info .right_part .block_more .more{
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        top: 115px;
    }
    .industry {
        height: 700px;
    }
    .first_step .content .left_part {
        padding: 12em 0 0 40px;
    }
    .first_step .content .right_part:after {
        top: 125px;
    }
    .industry .info .left_part ul li:hover {
        font-size: 25px;
    }
}
@media screen and (max-width: 767px) and (min-width: 670px){
    .traineeship .right_part a.second {
        top: -370px;
        left: 235px;
    }
}
@media screen and (max-width: 767px){
    .numbers .row .row{
        display: none;
    }
    .center{
        text-align: center;
    }
    .red_field {
        padding: 30px 36px 50px 25px;
    }
    .header h4 {
        margin: 0 56px 100px 0;
    }
    .join_block{
        position: absolute;
    }
    .join{
        top: 500px;
        left: 0;
    }
    .video_block{
        display: none;
    }
    .header .menu {
        float: right;
    }
    .header .menu p {
        display: none;
    }
    h1 {
        max-width: 100%;
    }
    .subtitle {
        max-width: 85%;
    }
    .first_step .content .left_part h3,
    .first_step .content .left_part p {
        max-width: 100%;
    }
    .first_step .content .left_part {
        padding: 17em 40px 0 40px;
    }
    .first_step .content .right_part {
        padding-left: 0;
    }
    .block {
        max-height: 1400px;
    }
    .first_step{
        height: 1100px;
    }
    .first_step .content .right_part:after {
        height: 100px;
        width: 2px;
        top: -50px;
        left: 50%;
    }
    .first_step .content .right_part {
        margin-top: 75px;
    }
    .industry .content h3{
        text-align: center;
    }
    .industry .info .left_part{
        width: 100%;
        margin: 0;
        max-width: 100%;
    }
    .traineeship .left_part p{
        max-width: 100%;
        margin-top: 300px;
    }
    .traineeship .left_h3 h3 {
        max-width: 100%;
        text-align: center;
    }
    .traineeship .right_part a.first {
        left: 20px;
        top: -370px;
    }
    .traineeship .right_part a.second{
        top: -370px;
    }
    .traineeship .right_part a.third {
        top: -370px;
        left: 450px;
    }
    .traineeship .right_part a:hover{
        width: 195px;
        height: 260px;
    }
    .traineeship .right_part a:hover img{
        width: 195px;
        height: 169px;
    }
    .traineeship .right_part a:hover .red {
        font-size: 8px;
    }
    .traineeship .right_part a:hover header {
        font-size: 21px;
    }
    .traineeship .right_part a:hover footer {
        font-size: 13px;
    }
    .traineeship .right_part a:hover {
        -webkit-box-shadow: 0 32px 37px 0 rgba(0, 0, 0, 0.24);
                box-shadow: 0 32px 37px 0 rgba(0, 0, 0, 0.24);
    }
    .left_h3 {
        padding-left: 0;
    }
    .traineeship .left_part {
        padding: 0 20px;
    }
    .possibility .back {
        font-size: 130px;
    }
    .industry .back, .region .back {
        font-size: 170px;
    }
    .info .left_part ul {
        max-width: 300px;
        margin: 0 auto;
    }
    .industry {
        height: 990px;
    }
    .region:before{
        background-size: contain;
        top: 50px;
    }
    .region .right_part {
        right: 23%;
        top: 210px;
    }
    .region .right_part h2 {
        font-size: 67px;
    }
    .region .right_part p {
        margin-bottom: 15px;
    }
    .region {
        height: 570px;
    }
    .company .back {
        font-size: 136px;
    }
    .center_h3 h3, .left_h3 h3 {
        margin-top: 94px;
    }
    .company .left_part a {
        height: 160px;
        width: 160px;
    }
    .company .left_part a {
        margin: 48px 15px 60px 15px;
    }
    .company .left_part li:hover a {
        margin: -2px 15px 109px 15px;
    }
    .company .left_part {
        height: 350px;
    }
    .company .right_part .more{
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: -75px;
    }
    .company {
        height: 800px;
    }
    .traineeship .left_part .more,
    .interview .right_part .more{
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .traineeship .back {
        font-size: 113px;
        text-align: center;
    }
    .traineeship {
        height: 700px;
    }
    .interview .left_part {
        padding-right: 0;
    }
    .interview .left_part .slider img {
        max-width: 100%;
    }
    .interview .right_part{
        margin-top: 50px;
    }
    .interview {
        height: 1020px;
    }
    .video_block2 .video{
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid #fff;
        position: relative;
        margin-top: 10px;
        margin-bottom: 5em;
        cursor: pointer;
    }
    .video_block2{
        display: inline-block;
        position: absolute;
        top: 670px;
        left: 0;
    }
    .video_block2 .video::after {
        content: '';
        position: absolute;
        left: calc(50% - 5px);
        top: calc(50% - 13px);
        height: 0;
        border-width: 13px 16px;
        border-style: solid;
        border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
    }
    .video_block2 .watch {
        display: inline-block;
        vertical-align: top;
        max-width: 145px;
        margin: 18px 0 0 35px;
        color: #fff;
        font-family: 'Alegreya Sans';
        font-size: 1.5em;
        text-align: left;
        line-height: 1.5;
    }
}
@media screen and (max-width: 670px) and (min-width: 610px){
    .traineeship .right_part a.second {
        left: 216px;
    }
}
@media screen and (max-width: 670px){
    .traineeship .right_part a {
        width: 176px;
        height: 234px;
    }
    .traineeship .right_part a img{
        height: 152px;
    }
    .traineeship .right_part a:hover {
        width: 176px;
        height: 234px;
    }
    .traineeship .right_part a:hover img{
        height: 152px;
        width: 176px;
    }
    .traineeship .right_part a .red{
        padding: 15px 20px 0 20px;
    }
    .traineeship .right_part a.third {
        left: 412px;
    }
    .interview {
        height: 940px;
    }
    .first_step .back {
        font-size: 155px;
        margin-top: 40px;
    }
    h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 768px) and (min-width: 611px){
    .possibility .left_part{
        width: 30%;
    }
    .possibility .right_part{
        width: 70%;
    }
}
@media screen and (max-width: 610px) and (min-width: 450px){
    .traineeship .right_part a.second {
        left: 240px;
    }
}
@media screen and (max-width: 610px){
    .possibility .left_part{
        width: 100%;
    }
    .possibility .info .left_part ul{
        text-align: center;
    }
    .possibility .info .left_part ul li{
        display: inline-block;
    }
    .possibility .info .left_part ul li{
        margin: 0 35px;
        position: relative;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
        max-width: 70px;
        width: 25px;
    }
    .possibility .info .left_part ul li:hover {
        margin: 0 35px 0 35px;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
    }
    .possibility .info .left_part ul li span {
        width: 3px;
        height: 0px;
        position: absolute;
        top: 60px;
        left: 50%;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
    }
    .possibility .info .left_part ul li:hover span {
        width: 3px;
        height: 27px;
        margin: 0;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
    }
    .traineeship .right_part a.third {
        display: none;
    }
    .center_h3{
        padding: 0;
    }
    .possibility .info .left_part ul{
        max-width: 100%;
    }
    .possibility .info {
        top: 155px;
    }
    h1 {
        font-size: 46px;
    }
    .company .right_part h2,
    .red_field h2{
        font-size: 48px;
    }
    .company .back{
        font-size: 110px;
    }
    .center_h3 h3, .left_h3 h3{
        margin-top: 75px;
    }
    .industry .back, .region .back{
        font-size: 140px;
    }
    .industry .content h3,
    .region .center_h3 h3{
        margin-top: 90px;
    }
}
@media screen and (max-width: 570px){
    .red_field h2{
        font-size: 48px;
    }
    .first_step .back{
        margin-top: 35px;
    }
    .company .left_part a {
        margin: 48px 0 60px 0;
    }
    .company .left_part li:hover a {
        margin: -2px 0 109px 0;
    }
    .company .left_part ul li:first-child a {
        margin-left: -25%;
    }
    .company .left_part ul li:last-child a {
        margin-right: -25%;
    }
    .company .left_part ul {
        overflow: hidden;
    }
    .subtitle{
        font-size: 18px;
    }
    .traineeship .left_h3 h3{
        margin-top: 0;
    }
}
@media screen and (max-width: 510px){
    h1{
        font-size: 41px;
    }
    .company .left_part ul li:first-child a {
        margin-left: -50%;
    }
    .company .left_part ul li:last-child a {
        margin-right: -50%;
    }
    .company .left_part a {
        height: 134px;
        width: 134px;
    }
    .industry .back, .region .back{
        font-size: 110px;
    }
    .first_step .back{
        font-size: 120px;
        margin-left: 0;
    }
    .first_step .content .left_part{
        padding: 12em 16px 0 16px;
    }
    .header .inner{
        margin: 0;
        padding-top: 22px;
    }
    .header h4 {
        margin: 0 56px 90px 0px;
    }
    .subtitle {
        max-width: 95%;
    }
    .red_field h2 {
        font-size: 36px;
        margin-bottom: 0;
    }
    .red_field {
        padding: 10px 0 32px 0;
    }
    .red_field input[type=text], .red_field input[type=email]{
        width: 100%;
        margin-bottom: 30px;
    }
    .red_field input[type=submit]{
        margin-top: 0;
        width: 50%;
    }
    .join, .video_block2 .video{
        left: 15px;
    }
    .first_step{
        height: 950px;
    }
    .possibility .back2{
        font-family: 'Roboto Condensed';
        font-weight: 700;
        font-size: 126px;
        line-height: 0.84;
        text-align: left;
        color: #fff;
        text-shadow: 0 -13px 16px rgba(0, 0, 0, 0.05);
        text-transform: uppercase;
        overflow: hidden;
        display: block;
    }
    .possibility .back{
        display: none;
    }
    .possibility .center_h3 h3 {
        margin-top: 170px;
    }
    .possibility .info{
        padding: 0 16px;
        top: 230px;
    }
    .possibility {
        height: 700px;
    }
    .industry .content h3, .region .center_h3 h3{
        margin-top: 50px;
    }
    .industry .info {
        top: 150px;
    }
    .industry .content{
        padding: 0;
    }
    .info .left_part ul{
        margin: 0;
        -webkit-padding-start: 55px;
    }
    .info .left_part ul li:hover span{
        margin-right: 0;
    }
    .industry .info .left_part ul li:hover{
        padding-left: 0;
        max-width: 305px;
    }
    .industry  .info .left_part ul li:hover span{
        left: -45px;
    }
    .industry .info .right_part {
        padding: 40px 0px 100px 0px;
    }
    .industry {
        height: 925px;
    }
    .region .right_part{
        top: 150px;
    }
    .region .right_part h2 {
        font-size: 52px;
    }
    .region .right_part p{
        font-size: 20px;
    }
    .region {
        height: 460px;
    }
    .company .back {
        font-size: 94px;
    }
    .center_h3 h3, .left_h3 h3 {
        margin-top: 60px;
    }
    .traineeship .back2{
        font-family: 'Roboto Condensed';
        font-weight: 700;
        font-size: 150px;
        line-height: 0.84;
        text-align: left;
        color: #fff;
        text-shadow: 0 -13px 16px rgba(0, 0, 0, 0.05);
        text-transform: uppercase;
        overflow: hidden;
        display: block;
    }
    .traineeship .back{
        display: none;
    }
    .traineeship .left_h3 h3{
        margin-top: -50px;
    }
    .traineeship {
        height: 800px;
    }
    .traineeship .right_part a.first,
    .traineeship .right_part a.second{
        top: -390px;
    }
    .possibility .info .left_part ul li{
        margin: 0 20px;
    }
    .possibility .info .left_part ul li:hover {
        margin: 0 20px;
        -webkit-transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
    }
}
@media screen and (max-width: 450px){
    .header h4, .join, .info .right_part h4,
    .industry .info .left_part ul li:hover div,
    .industry .info .right_part .block_work p,
    .interview .right_part h3{
        font-size: 20px;
    }
    h1{
        font-size: 31px;
    }
    .industry .info .right_part .block_work h2,
    .industry .info .right_part .block_company h2,
    .company .right_part h2, .red_field h2{
        font-size: 36px;
    }
    .region .right_part h2{
        font-size: 40px;
    }
    .subtitle, .video_block2 .watch,
    .first_step .content .left_part p,
    .info .right_part p,
    .industry .info .left_part ul li div,
    .industry .info .right_part p, .company .right_part p,
    .traineeship .left_part p{
        font-size: 16px;
    }
    .join{
        width: 200px;
        height: 56px;
        line-height: 56px;
        border-radius: 28px;
        border: solid 0.8px #ffffff;
        top: 400px;
    }
    .video_block2 .video{
        height: 60px;
        width: 60px;
    }
    .video_block2 .video::after{
        left: calc(50% - 3px);
        top: calc(50% - 10px);
        border-width: 10px 12px;
    }
    .video_block2{
        top: 520px;
    }
    .header{
        height: 640px;
    }
    .first_step .back{
        font-size: 92px;
    }
    .first_step .content .left_part h3,
    .possibility .center_h3 h3, .industry .content h3,
    .region .center_h3 h3, .region .center_h3 h3,
    .company .center_h3 h3, .traineeship .left_h3 h3,
    .red_field h2, .interview .center_h3 h3{
        font-size: 30px;
    }
    .first_step .content .left_part {
        padding: 10em 16px 0 16px;
    }
    .first_step {
        height: 810px;
    }
    .block::after {
        height: 100px;
        width: 2px;
    }
    .possibility .back2{
        font-size: 107px;
    }
    .possibility .center_h3 h3 {
        margin-top: 137px;
    }
    .possibility .info{
        top: 180px;
    }
    .info .right_part h4{
        margin-bottom: 30px;
    }
    .possibility{
        height: 600px;
    }
    .industry .info .left_part ul li {
        height: 50px;
    }
    .industry .info {
        top: 125px;
    }
    .industry .info .right_part .block_more .more{
        top: 107px;
    }
    .industry{
        height: 780px;
    }
    .region{
        height: 400px;
    }
    .company .back{
        font-size: 85px;
    }
    .center_h3 h3, .left_h3 h3 {
        margin-top: 50px;
    }
    .company .left_part ul{
        margin-top: 40px;
    }
    .company .left_part{
        height: 320px;
    }
    .company{
        height: 680px;
    }
    .traineeship .back2{
        font-size: 132px;
    }
    .traineeship .right_part a.first{
        left: 16px;
    }
    .traineeship .right_part a.second{
        right: 16px;
    }
    .traineeship .right_part a.first, .traineeship .right_part a.second{
        top: -375px;
    }
    .traineeship{
        height: 750px;
    }
    .interview .right_part p {
        max-width: 100%;
        font-size: 16px;
    }
    .interview{
        height: 750px;
    }
}
@media screen and (max-width: 430px){
    .company .left_part ul li:first-child{
        margin-left: -50%;
    }
    .company .left_part ul li:last-child{
        margin-right: -50%;
    }
    .company .left_part ul li:first-child a{
        margin-left: -25%;
    }
    .company .left_part ul li:last-child a{
        margin-right: -25%;
    }
    .possibility .info .left_part ul{
        -webkit-padding-start: 0;
    }
    .possibility .info .left_part ul li:hover,
    .possibility .info .left_part ul li{
        margin: 0 10px;
    }
    .header h4 {
        margin: 0 56px 50px 0px;
    }
    .join{
        top: 345px;
    }
    .video_block2{
        top: 460px;
    }
    .header{
        height: 580px;
    }
    .red_field input[type=submit]{
        width: 200px;
    }
    .slider_pager li{
        width: 57px;
        margin: 10px;
    }
    .industry .info .left_part ul li:hover{
        max-width: 230px;
    }
    .traineeship .right_part a.second{
        left: 190px;
    }
    .traineeship {
        overflow: hidden;
    }
    .traineeship .right_part a .red {
        padding: 10px 10px 0 10px;
    }
    .traineeship .right_part a header,
    .traineeship .right_part a footer {
        padding: 0 10px;
    }
    .traineeship .right_part a,
    .traineeship .right_part a:hover{
        width: 154px;
        height: 205px;
    }
    .traineeship .right_part a img,
    .traineeship .right_part a:hover img{
        height: 132px;
        width: 154px;
    }
    .traineeship .left_part .more{
        bottom: -82px;
    }
    .industry .info .right_part .block_more .more{
        top: 103px;
    }
}
@media screen and (max-width: 370px){
    h1{
        font-size: 26px;
    }
}
@media screen and (max-width: 320px){
    .first_step{
        height: 750px;
    }
    .first_step .back{
        font-size: 82px;
        text-shadow: 0 -5px 7px rgba(0, 0, 0, 0.05);
        margin-top: 20px;
    }
    .possibility .back2{
        font-size: 82px;
        text-shadow: 0 -5px 7px rgba(0, 0, 0, 0.05);
        padding-top: 5px;
    }
    .possibility .center_h3 h3 {
        margin-top: 100px;
    }
    .possibility .info {
        top: 144px;
    }
    .industry .back, .region .back{
        font-size: 79px;
    }
    .region .right_part{
        top: 100px;
    }
    .region .right_part p{
        margin-top: -10px;
    }
    .region{
        height: 340px;
    }
    .company .back{
        font-size: 66px;
    }
    .traineeship .back2{
        font-size: 102px;
    }
    .traineeship{
        height: 710px;
    }
    .back, .back2{
        padding-top: 16px;
    }
}