a, a:hover, a:focus, a:visited, a:active{
    text-decoration: none;
}
.sn-inner{
    display: block;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
.container-fluid{
    padding: 0;
}
.row{
    margin: 0;
}
.header{
    display: block;
    background-image: url(../img/shutterstock-583591807.png);
    max-height: 900px;
    height: 900px;
    position: relative;
}
.header .inner{
    display: block;
    margin: 0 14em;
    position: relative;
    padding-top: 3.5em;
}
.header h4{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.18;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    max-width: 5em;
    margin: 0 3.6em 7em 0;
}
.header .menu{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-top: 10px;
}
.header .menu span{
    display: inline-block;
    width: 25px;
    height: 12px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.header .menu p{
    display: inline;
    color: #fff;
    padding-left: 1.3em;
    font-family: 'Alegreya Sans';
    font-size: 1.5em;
    line-height: 0.83;
    text-align: left;
}
.join{
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    width: 360px;
    height: 81px;
    border: 1px solid #fff;
    border-radius: 40.5px;
    text-align: center;
    line-height: 81px;
    font-family: 'Alegreya Sans';
    font-size: 26px;
    font-weight: bold;
    max-width: 360px;
    max-height: 81px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    text-decoration: none;
}
.join:hover{
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    text-decoration: none;
}
h1{
    font-size: 80px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    max-width: 800px;
}
.subtitle{
    color: #fff;
    max-width: 600px;
    font-family: 'Alegreya Sans';
    font-size: 1.5em;
    line-height: 1.5;
    text-align: left;
    margin-top: 45px;
}
.numbers p{
    color: #fff;
    font-family: 'Alegreya Sans';
    font-size: 1.5em;
    text-align: left;
    line-height: 1.5;
}
.video_block2,
.back2{
    display: none;
}
.video{
    display: inline-block;
    width: 97px;
    height: 97px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative;
    margin-top: 10px;
    margin-bottom: 5em;
    cursor: pointer;
}
.video::after{
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 16px);
    height: 0;
    border-width: 16px 19px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
}
.numbers .watch{
    display: inline-block;
    vertical-align: top;
    max-width: 145px;
    margin: 30px 0 0 30px;
}
.numbers .number{
    font-size: 3.8em;
    line-height: 1.47;
    text-align: left;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    margin-bottom: 0;
}
.numbers .text{
    margin-bottom: 35px;
}
.dots{
    position: absolute;
    top: 45%;
    left: 5%;
}
.dots ul{
    list-style-type: none;
    -webkit-padding-start: 0;
}
.dots ul li{
    display: block;
    margin: 10px;
    width: 10px;
    height: 10px;
    padding: 9px;
    position: relative;
}
.dots ul li span{
    display: block;
    background-color: #fff;
    width: 5px;
    height: 5px;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.dots ul li span:before{
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 9px;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.dots ul li:hover span{
    height: 10px;
    width: 10px;
    background-color: #ff5448;
    margin-top: -2px;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    margin-left: 41px;
}
.dots ul li:hover span:before{
    width: 27px;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.red_field{
    display: block;
    padding: 2em 14em 2.45em 14em;
    position: relative;
    background-color: #ff5448;
}
.red_field h2{
    color: #fff;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    line-height: 1.47;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 1.7em;
}
.red_field input[type=text],
.red_field input[type=email]{
    border-width: 1px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    background-color: #ff5448;
    width: 97%;
    outline: none;
    color: #fff;
    font-size: 1.5em;
    height: 50px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-family: 'Alegreya Sans';
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    font-family: 'Alegreya Sans';
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-family: 'Alegreya Sans';
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-family: 'Alegreya Sans';
}
.red_field input[type=submit]{
    width: 263px;
    height: 70px;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 70px;
    border: none;
    border-radius: 40px;
    outline: none;
    font-family: 'Alegreya Sans';
    font-size: 26px;
    font-weight: bold;
}
.block{
    display: block;
    position: relative;
    max-height: 1000px;
    height: 900px;
}
.block::after{
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 213px;
    background-color: #000;
    bottom: -75px;
    left: 50%;
    z-index: 9;
}
.block .back{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 250px;
    line-height: 0.84;
    text-align: left;
    color: #fff;
    text-shadow: 0 -13px 16px rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    overflow: hidden;
    padding-top: 13px;
}
.first_step .back{
    max-width: 935px;
    margin: 110px 0 0 -13px;
    padding-top: 50px;
}
.block .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.first_step .content .left_part{
    padding: 16.5em 0 0 14em;
}
.first_step .content .left_part h3{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 60px;
    line-height: 1.17;
    text-align: left;
    color: #000;
    text-transform: uppercase;
    max-width: 444px;
    margin-bottom: 29px;
}
.first_step .content .left_part p{
    font-family: 'Alegreya Sans';
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    color: #000;
    max-width: 400px;
    position: relative;
}
.first_step .content .right_part:after{
    content: "";
    display: block;
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: #000;
    top: 200px;
    left: -15px;
    z-index: 9;
}
.first_step .content .right_part{
    margin-top: 112px;
    padding-right: 0;
}
.first_step .content .right_part .slider{
    position: relative;
    /*-webkit-box-shadow: -20px 23px 37px 13px rgba(204,204,204,0.28);
    -moz-box-shadow: -20px 23px 37px 13px rgba(204,204,204,0.28);
    box-shadow: -20px 23px 37px 13px rgba(204,204,204,0.28);*/
}
.first_step .content .right_part .video{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 5em;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.first_step .content .right_part .video::after{
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}
.first_step .slider img{
    max-width: 100%;
}
.slider_pager{
    list-style-type: none;
    -webkit-padding-start: 0;
    text-align: center;
}
.slider_pager li{
    display: inline-block;
    width: 68px;
    height: 0px;
    border-bottom: 2px solid #9b9b9b;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    margin: 15px;
    vertical-align: top;
}
.slider_pager li:hover{
    border-bottom: 5px solid #ff5448;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.possibility{
    height: 850px;
}
.center_h3{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.center_h3 h3,
.left_h3 h3{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 60px;
    line-height: 1.17;
    margin-top: 120px;
    color: #000;
    text-transform: uppercase;
}
.possibility .back{
    font-size: 241px;
}
.possibility .info{
    top: 310px;
    text-align: left;
    padding: 0 14em;
}
.possibility .left_part,
.possibility .right_part{
    padding: 0;
}
.info .left_part ul{
    -webkit-padding-start: 0;
    list-style-type: none;
}
.info .left_part ul li{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 24px;
    line-height: 2.92;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    max-width: 100px;
}
.info .left_part ul li span{
    display: inline-block;
    width: 0px;
    height: 3px;
    background-color: #ff5448;
    vertical-align: middle;
    margin-right: 0px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.info .left_part ul li:hover{
    font-weight: 700;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    margin-right: -57px;
}
.info .left_part ul li:hover span{
    width: 27px;
    margin-right: 30px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.info .right_part h4{
    font-family: 'Alegreya Sans';
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #000;
    max-width: 475px;
    margin-bottom: 40px;
}
.info .right_part p{
    font-family: 'Alegreya Sans';
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    color: #000;
    width: 780px;
}
.industry{
    height: 850px;
}
.industry .back{
    text-align: center;
    font-size: 241px;
}
.industry .content {
    padding: 0 14em;
}
.industry .content h3 {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 60px;
    line-height: 1.17;
    margin-top: 120px;
    color: #000;
    text-transform: uppercase;
}
.industry .info {
    top: 250px;
    text-align: left;
    padding: 0 14em;
}
.industry .info .left_part{
    max-width: 31.5%;
    margin-right: 10%;
}
.industry .info .right_part{
    -webkit-box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
    padding: 40px 34px 23px 54px;
}
.industry .info .right_part p{
    max-width: 82%;
    font-family: 'Alegreya Sans';
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    color: #000;
    margin: 0;
}
.industry .info .right_part h2{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    text-align: left;
    color: #000;
}
.industry .info .right_part .more{
    width: 229px;
    height: 70px;
    background-color: #ff5448;
    border-radius: 35px;
    display: inline-block;
    font-family: 'Alegreya Sans';
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    line-height: 70px;
    text-decoration: none;
    position: absolute;
    top: 75px;
    right: 0;
}
.industry .info .left_part ul li {
    font-family: 'Alegreya Sans';
    font-size: 24px;
    line-height: 1.42;
    text-align: left;
    color: #000000;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    height: 75px;
    max-width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.industry .info .left_part ul li div{
    display: inline-block;
}
.industry .info .left_part ul li:hover {
    font-weight: 700;
    font-size: 40px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    line-height: 0.9;
    width: 375px;
    padding-left: 57px;
}
.industry  .info .left_part ul li span{
    position: absolute;
    top: 50%;
    left: 0;
}
.region::after {
    bottom: 10px;
}
.region:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/group-4.png);
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 10;
}
.region .back{
    font-size: 241px;
    text-align: center;
}
.center_h3 {
    padding: 0 14em;
    width: 100%;
    text-align: center;
}
.region .center_h3 h3 {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 60px;
    line-height: 1.17;
    margin-top: 120px;
    color: #000;
    text-transform: uppercase;
}
.region .right_part {
    position: absolute;
    right: 18%;
    top: 270px;
    text-align: left;
}
.region .right_part h2{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    text-align: left;
    color: #000000;
    margin: 0;
}
.region .right_part p{
    font-family: 'Alegreya Sans';
    font-size: 24px;
    text-align: left;
    color: #000;
    margin-bottom: 50px;
}
.company{
    height: 840px;
}
.company::after {
    bottom: -25px;
}
.company .back {
    font-size: 241px;
    text-align: center;
}
.company .left_part{
    text-align: center;
    height: 400px;
    /*border-bottom: solid 1px #979797;*/
}
.company .left_part ul {
    list-style-type: none;
    margin-top: 100px;
    -webkit-padding-start: 0;
}
.company .left_part ul li{
    display: inline-block;
    max-height: 300px;
    border-bottom: solid 1px #979797;
    float: left;
}
.company .left_part a{
    display: inline-block;
    height: 240px;
    width: 240px;
    -webkit-box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
    vertical-align: top;
    margin: 0px 20px 90px 20px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    position: relative;
}
.company .left_part a:after{
    content: '';
    position: absolute;
    bottom: -59px;
    left: 50%;
    width: 0;
    height: 10px;
    background-color: #ff5448;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.company .left_part li:hover a{
    margin: -50px 20px 140px 20px;
    -webkit-box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.14);
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.company .left_part li:hover a:after{
    width: 100%;
    left: 0;
    bottom: -109px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.company .left_part a img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.company .right_part{
    margin-top: 80px;
    text-align: left;
    color: #000;
    position: relative;
}
.company .right_part h2{
    font-size: 60px;
    font-weight: bold;
    line-height: 1.47;
    font-family: 'Alegreya Sans';
    margin-top: 0;
}
.company .right_part h2.num{
    font-family: 'Roboto Condensed';
}
.company .right_part p{
    font-size: 24px;
    line-height: 1.29;
    font-family: 'Alegreya Sans';
}
.company .right_part .more {
    width: 93%;
    max-width: 360px;
    height: 70px;
    background-color: #ff5448;
    border-radius: 35px;
    display: inline-block;
    font-family: 'Alegreya Sans';
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    line-height: 70px;
    text-decoration: none;
    position: absolute;
    left: 15px;
    bottom: -92px;
}
.center_text{
    text-align: center;
}
.traineeship{
    height: 920px;
}
.traineeship:after{
    display: none;
}
.traineeship .back{
    margin-left: -35px;
    max-width: 1600px;
}
.left_h3 {
    padding-left: calc(14em - 15px);
    width: 100%;
    text-align: left;
}
.traineeship .left_h3 h3{
    margin-top: -40px;
    max-width: 300px;
}
.traineeship .left_part{
    padding: 0 0 0 14em;
    position: relative;
}
.traineeship .left_part p{
    font-family: 'Alegreya Sans';
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    color: #000;
    max-width: 540px;
    margin-top: 30px;
}
.traineeship .left_part .more {
    width: 360px;
    height: 70px;
    background-color: #ff5448;
    border-radius: 35px;
    display: inline-block;
    font-family: 'Alegreya Sans';
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    line-height: 70px;
    text-decoration: none;
    position: absolute;
    bottom: -92px;
}
.traineeship .right_part a{
    display: inline-block;
    width: 263px;
    height: 370px;
    -webkit-box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.14);
    position: absolute;
    background-color: #fff;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.traineeship .right_part a:hover{
    text-decoration: none;
    -webkit-box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    width: 360px;
    height: 493px;
    z-index: 10;
}
.traineeship .right_part a img{
    display: inline-block;
    width: 100%;
    height: 240px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.traineeship .right_part a:hover img{
    height: 320px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.traineeship .right_part a .red{
    font-family: 'Alegreya Sans';
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #ff5448;
    padding: 20px 20px 0 20px;
    text-transform: uppercase;
    margin: 0;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.traineeship .right_part a:hover .red{
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    font-size: 16px;
    margin-bottom: 15px;
}
.traineeship .right_part a header{
    font-family: 'Alegreya Sans';
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    padding: 0 20px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.traineeship .right_part a:hover header{
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    font-size: 40px;
}
.traineeship .right_part a footer{
    font-family: 'Alegreya Sans';
    font-size: 18px;
    text-align: left;
    color: #000000;
    padding: 0 20px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.traineeship .right_part a:hover footer{
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    font-size: 24px;
}
.traineeship .right_part a.first{
    top: -155px;
    right: 425px;
}
.traineeship .right_part a.second{
    top: -300px ;
    right: 35px;
}
.traineeship .right_part a.third{
    top: 100px;
    right: 132px;
}
.red_2 input[type=submit]{
    width: 263px;
}
.interview{
    height: 820px;
}
.interview:after{
    display: none;
}
.interview .center_h3 h3{
    margin-top: 85px;
}
.interview .left_part{
    padding-left: 0;
}
.interview .left_part .video {
    position: absolute;
    top: 39%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.interview .left_part .video:after{
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}
.interview .right_part h3{
    font-family: 'Roboto Condensed';
    font-size: 40px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -1.7px;
    text-align: left;
    color: #000;
    max-width: 63%;
    margin-top: 0;
}
.interview .right_part p{
    font-family: 'Alegreya Sans';
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    color: #000000;
    max-width: 63%;
    margin-top: 16px;
}
.interview .right_part .more {
    width: 360px;
    height: 70px;
    background-color: #ff5448;
    border-radius: 35px;
    display: inline-block;
    font-family: 'Alegreya Sans';
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    line-height: 70px;
    text-decoration: none;
    position: absolute;
    top: 110%;
}
.interview .left_part .slider_pager {
    text-align: left;
    position: absolute;
    bottom: 10px;
    right: -300px;
}
.interview .left_part .slider_pager li{
    vertical-align: baseline;
}